.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* css added by sandeep */

.bRPEjc {
  background: #ffffff !important;
  box-shadow: 0 12px 24px 0 #fff !important;
}

.greetingBox {
  border: 2px solid rgb(243, 239, 239);
  background-color: white;
  color: #0f89db;
  font-size: 16px;
  width: auto;
  /* overflow: hidden; */
  white-space: nowrap;
  text-align-last: left;
  margin-left: -314px;
  padding-top: 20px;
  padding-left: 4px;
  padding-right: 6px;
  height: 55px;
  border-radius: 8%;
  margin-bottom: 115px;
}

.botImgLb  {

  height: 150px;
  width: 150px;
  text-align: center;
  padding-top: 2px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: -6px;
  padding-bottom: 30px;
}

/* .sc-bwzfXH.jKLQUD.rsc-cs {
  width: inherit !important;
  height: auto !important;
  margin-left: 236px !important;
  border-radius: 18px 18px 0 18px !important;
}

.react-tel-input .form-control{
  width: 216px !important;
} */




/* 
.bRPEjc {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background: #0f89db;
  bottom: 32px;
  border-radius: 100%;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.15);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  fill: #fff;
  height: 56px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  right: 32px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  width: 56px;
  z-index: 999;
} */


.cs{
 

  background-image: url('./resources/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  
  /* border: 10px solid black; */
}

