.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* css added by sandeep  START*/
.bRPEjc {
  background: #ffffff !important;
  box-shadow: 0 12px 24px 0 #fff !important;
  width: 1px !important; 
  height: 1px !important;

}

.greetingBox {
  border: 2px solid rgb(243, 239, 239);
  background-color: white;
  color: #0f89db;
  font-size: 16px;
  width: auto;
  /* overflow: hidden; */
  white-space: nowrap;
  text-align-last: left;
  /* margin-left: -314px; */
  margin-left:-347px;
  
  padding-top: 20px;
  padding-left: 4px;
  padding-right: 6px;
  height: 55px;
  border-radius: 8%;
  margin-bottom: 115px;
}

.botImgLb {

  height: 150px;
  width: 150px;
  text-align: center;
  padding-top: 2px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 53px;
  margin-left: -4px;
}

.sc-bwzfXH.jKLQUD.rsc-cs {
  width: inherit !important;
  height: auto !important;
  margin-left: 236px !important;
  border-radius: 18px 18px 0 18px !important;
}
 
.react-tel-input .form-control{
  width: 216px !important;
}

/*  child node process for a  custom  input design Start */
/* .rsc-content div:nth-child(4), */
/* .rsc-content div:nth-child(5) */
    .rsc-content div:nth-child(15)
    {
   width: 100% !important ;
   height: auto !important;
   margin-left: 236px !important;
   border-radius: 18px 18px 0 18px !important;
    }
    .react-tel-input .form-control{
      width: 216px !important;
    }
/*  child node process for a  custom  input design End */


.Appointment_btn{
  animation: Lmuha 0.3s ease forwards;
  border-color: #2196F3;
  background-color: white;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 0 1px 2px 0 #fff;
  width: auto;
  height: 55px;
  display: inline-block;
  font-weight: bold;
  /* border-style: none;  */
  cursor: pointer;
  /* font-family: Calibri; */
}
.Appointment_btn {
  border-color: #2196F3;
  color: dodgerblue;
}

.Appointment_btn:hover {
  /* background: #2196F3; */
  background-color: white;
  color: dodgerblue;
  /* color: white; */
  
  /* border-color: #2196F3;
  color: dodgerblue; */
}

.call_center_avtar{
  width: 29px;
  height: 40px;

}

.Btn_img_aptBook{
  /* background-color: #61dafb; */
  height: fit-content;
  width: max-content;
  background-blend-mode: darken;
 
}

.left {
  text-align: left
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
/* CSS end by sandeep END */


.cs {
  background-image: url('./resources/background.png');
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: cover;
  background-repeat: no-repeat; */
  
  /* border: 10px solid black; */
}

/* .sc-bwzfXH .rsc-cs > * {
  background-color: sienna;
} */



.blink_me{
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}




