
/* csss ----1 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #39a4eb;
  --color-secondary: #39a4eb;
  --color-tertiary: #39a4eb;
  --color-quaternary: #2197e6;
  --color-quinary: #0f89db;
 
}

body {
  /* min-height: 100vh; */
  font-family: canada-type-gibson, sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #eff8e2;
}


.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* .text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 00;
  text-transform: uppercase;
  font-size: calc(.5rem + 2vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  //color: transparent;
  //background-color: white;
  //background-clip: text;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
} */

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


/* scss --1 */



/* scss--2 */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

$bg-pink: linear-gradient(
  to right,
  rgba(218, 28, 96, 1) 0%,
  rgba(243, 102, 31, 0.9) 100%
);

$bg-dark:rgb(15,24,42);
$white:#fff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 40px;
  line-height: 46px;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

body {
  overflow: hidden;
  position: relative;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background:$bg-dark;
}

.bg-1 {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  animation: page-up 1s ease 0s none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: $bg-pink;
}

@keyframes page-up {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.loading-data {
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-text {
  .char {
    opacity: 0;
    animation: loading-text 2s infinite ease-in-out;
    display: inline-block;
    color:$white;
    &:nth-child(1) {
      animation-delay: 0.9s;
    }
    &:nth-child(2) {
      animation-delay: 1s;
    }
    &:nth-child(3) {
      animation-delay: 1.1s;
    }
    &:nth-child(4) {
      animation-delay: 1.2s;
    }
    &:nth-child(5) {
      animation-delay: 1.3s;
    }
    &:nth-child(6) {
      animation-delay: 1.4s;
    }
    &:nth-child(7) {
      animation-delay: 1.5s;
    }
  }
}

@keyframes loading-text {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  20% {
    transform: translateY(-60%);
    opacity: 1;
  }
  40% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* scss--2 */